@import "bootstrap/dist/css/bootstrap.css";

.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  background-color: #fa26a0;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #ee91bc;
}
